
.env
.env.*
config.php
config/*.php
*.key
*.pem
*.log

node_modules/
vendor/

dist/
build/
*.zip

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

logs/
*.log
.cache/
tmp/
temp/

*.local
*.backup

__pycache__/
*.pyc
*.pyo
*.pyd

*.crx
.ssh/

sandbox.html
teste.py
